extends tpl/base

block content
	section.pr
		.main-banner
			.dfx.aic.jcc.h100p
				.tac.cF
					.fsp18 Find your favorite
					.fsp50.ttu.b Recipes
					a.btn.ttu.fsp14.mt15.mb15(href="#") Get started
					p.ttu.fsp12 Or send us your own recipes and get rewarded!
	section.md-up-pt50.md-up-pb50.sm-down-pt25.sm-down-pb25
		.container
			.row.reasons
				.col-md-4.tac.dfx.fdc.aic.reason.p15
					.fg1.reason__icon.dfx.aic.jcc
						img(src="./static/img/burger.png")
					h2.reason__title.ttu.fsp18.fw900 Get inspired
					p Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.
				.col-md-4.tac.dfx.fdc.aic.reason.p15
					.fg1.reason__icon.dfx.aic.jcc
						img(src="./static/img/money.png")
					h2.reason__title.ttu.fsp18.fw900 Get rewarded
					p Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.
				.col-md-4.tac.dfx.fdc.aic.reason.p15
					.fg1.reason__icon.dfx.aic.jcc
						img(src="./static/img/chef.png")
					h2.reason__title.ttu.fsp18.fw900 Get social
					p Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.
	section
		.container
			.row.introducing
				.col-md-6.col-md-offset-1.md-2nd.sm-down-pb25.md-up-pt50.sm-down-pt25
						h3.introducing__title.ttu.fsp22.fw900 Introducing the FUDI app
						p.pb20.fsp16.
							Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet. Aeneanet 
							felis sit amet diam mollis ullamcorper. Nullam consequat sem a ante vest
							ibulum tristique. Suspendisse tristique lacus ac mattis porta. 
						p.pb20.fsp16.
							Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In 
							libero dui, eleifend eu nisi id, egestas fringilla odio. In varius quam a mas
							sa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis. 
							Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan. 

						p.pb20.fsp16.
							Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam 
							malesuada. Duis vehicula a nibh id hendrerit. Donec sit amet ultrices 
							ante, a mattis massa. 
						p.sm-down-tac
							a.mr10(href="#"): img(src="./static/img/ios.png")
							a(href="#"): img(src="./static/img/android.png")
				.col-md-5.md-first
					img.db.fw(src="./static/img/iphone.png")
	section.reviews
		.owl.owl-carousel.owl-review(data-md="1" data-pagination="1" data-navigation="1")
			each i in [1,2]
				.item.review.sm-down-pt25.sm-down-pb25
					.review__pic
					blockquote.review__cite.p20.tac.cF.fsp16 Im so happy because i found this recipe and it just made my life easier. Thank you so much for sharing!
						footer.review__author.fsp14.b Michael Dawson, San Francisco, CA.
	section.cuisines
		.cuisines__title.fsp18.b.ttu.tac.dt.ma.md-up-pt50.md-up-pb50.sm-down-pt25.sm-down-pb25 Browse by cuisines
		.row
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
			.pr.col-xs.col-sm-6.col-md-4.col-lg-2
				img.fw.db(src="./static/img/italian.jpg")
				.abs.cuisine__layer
					.dfx.h100p.aic.jcc
						.fsp24.cF.ttu.fw900.cuisine__title Italian
	section.counters
		.container
			.row
				.col-md-4
					.tac.sm-down-pt25.sm-down-pb25.md-up-pt50.md-up-pb50
						div(end-val="90145" time="0.75" id="active_recipes").fsp40.counter 90145
						.b.i Active recipes
				.col-md-4
					.tac.sm-down-pt25.sm-down-pb25.md-up-pt50.md-up-pb50
						div(end-val="210432" time="0.75" id="active_users").fsp40.counter 210432
						.b.i Active users
				.col-md-4
					.tac.sm-down-pt25.sm-down-pb25.md-up-pt50.md-up-pb50
						div(end-val="16731" time="0.75" id="online_users").fsp40.counter 16731
						.b.i Online users