doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" href="static/css/base.min.css")
		link(rel="stylesheet" href="static/css/styles.min.css")
		link(href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet")
		title GOSP landing demo
	body.dfx.fdc
		header.pa.t10.fw.z10
			.container
				.dfx.jcsb.md-up-p10.aic
					.logo
						img(src="./static/img/logo.png")
					nav
						ul.list-reset.list-inline
							li: a.cF.pt10.pb10.pr15.pl15(href="#") Login
							li: a.cF.pt10.pb10.pr15.pl15(href="#") Sign up
		main.fg1
			block content
		footer.bcC
			.container
				.row
					.col-md-6.sm-down-tac
						p 2018 © All rights reserved
					.col-md-6.md-up-tar.sm-down-tac
						p Made with #[a(href="https://github.com/fdorantesm/gosp") gosp.css]
		link(rel="stylesheet" href="./static/libs/owl.carousel/dist/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="./static/libs/owl.carousel/dist/assets/owl.theme.green.min.css")
		script(src="./static/libs/jquery/dist/jquery.min.js")
		script(src="./static/libs/owl.carousel/dist/owl.carousel.min.js")
		script(src="./static/js/plugins.js")
		script(src="./static/libs/countUp.js/dist/countUp.js")
		script(src="./static/js/scripts.js")